body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width: 1280px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
    .wrapper {
        width: 960px;
    }
}

@media screen and (min-width: 728px) and (max-width: 960px) {
    .wrapper {
        width: 728px;
    }
}

@media screen and (max-width: 728px) {
    .wrapper {
        width: 100%;
    }
}

#top-header {
    align-content: center;
    background-color: #fffff0;
    padding-top: 40px;
}

#navigation {
    color: white;
    background-color: #EA3833;
    border: 1px solid #EA3833;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#top-header li {
    display: inline;
    padding: 20px;
}

#top-header ul {
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}
#bottom-header{
    background-image: url("house-roof.jpg");
}