#top-header {
    align-content: center;
    background-color: #fffff0;
    padding-top: 40px;
}

#navigation {
    color: white;
    width: 60%;
    background-color: #EA3833;
    border: 1px solid #EA3833;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 19%;
    margin-right: 19%;
}

#top-header li {
    display: inline;
    padding: 20px;
}

#top-header ul {
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}
#bottom-header{
    width: 60%;
    margin-left: 19%;
    margin-right: 19%;
    background-image: url("house-roof.jpg");
}
#logo{
    width: 50%;
    height: auto;
}