body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    text-decoration: none;
    position: relative;
}

#top-header {
    align-content: center;
    background-color: white;
    padding-top: 40px;
}

#navigation {
    color: white;
    background-color: #EA3833;
    border: 1px solid #EA3833;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#navigation a{
    text-decoration: none;
    border: 1px solid #EA3833;
    border-radius: 5px;
}

#top-header li {
    display: inline;
    margin: 20px;
    text-decoration: none;
}
a:link, a:visited, a:active {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.transition a{
    padding: 0;
}
#navigation a:hover{
    color: black;
    background-color:  white;
}


#top-header ul {
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

#homepage-box {
    background-color: gray;
    background-image: url("Resources/house-roof.jpg");
}

#bottom-header {
    background-color: #F1F1F1;
}

#main {
    display: block;
    padding: 50px;
    color: white;
    text-shadow: 1px 1px black;
}

#secondary {
    display: none;
    padding: 50px;
    color: white;
    text-shadow: 1px 1px black;
    text-align: right;
}
.info{
    display: inline-block;
}

p {
    margin-top: 2%;
}

footer {
    background-color: #494848;
    color: white;
}

.footer-info {
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
}

.footer-info ul {
    list-style-type: none;
    font-weight: bold;
    margin: 0;
}

.footer-info ul h3 {
    margin: 0;
}

footer .wrapper {
    padding: 2% 0%;
}

.button {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 2%;
    color: white
}

.activities {
    display: inline-block;
    width: 49%;
}

.logo {
    position: absolute;
    top:50px;
    left: 50px;
}

.transition {
    width: 100%;
    position: absolute;
    bottom: 0px;
    
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width: 1280px;
        height: auto;
        background-size: 1280px auto;
    }
    #homepage-box {
        width: 1280px;
        height: 520px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
    .wrapper {
        width: 960px;
        height: auto;
        background-size: 960px auto;
    }
    #homepage-box {
        width: 960;
        height: 400px;
    }
}

@media screen and (min-width: 728px) and (max-width: 960px) {
    .wrapper {
        width: 728px;
        height: auto;
        background-size: 728px auto;
    }
    #homepage-box {
        width: 728px;
        height: 270px;
    }
}

@media screen and (max-width: 728px) {
    .wrapper {
        width: 100%;
        height: auto;
        background-size: 100% auto;
    }
    #homepage-box {
        width: 480px;
        height: 200px;
    }
}